<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>controller.authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_password</servlet-name>
        <servlet-class>controller.Forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResertPassword</servlet-name>
        <servlet-class>controller.ResertPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishList</servlet-name>
        <servlet-class>controller.WishList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_password</servlet-name>
        <url-pattern>/Forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResertPassword</servlet-name>
        <url-pattern>/ResertPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/RoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishList</servlet-name>
        <url-pattern>/WishList</url-pattern>
    </servlet-mapping>
</web-app>
